<% provide(:title, 'About Us') %>
    <h1>About Us</h1>
	<p>
	  The <a href="http://railstutorial.org/">Pipe Bang Post</a>
	  is a project to make life fun again by
	  <a href="http://rubyonrails.org/">expressing yourself </a>in new ways. This
	  is the sample application for my magnum opus.
	</p>
  </body>
</html>