<% provide(:title, 'Help') %>
	<h1>Help</h1>
	<p>
	  Get help on the Pipe Bang Post site at
	  <a href="http://railstutorial.org/help">Pipe Bang Post help page</a>.
	  To get help on this app, see
	  <a href="http://railstutorial.org/book">Pipe Bang Post book</a>.
	</p>
