<footer class="footer">
  <small>
    <a href="http://www.facebook.com/aceboogie">PipeBangPost</a>
    by Azubuike Motanya
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.twitter.com/aceboom">News</a></li>
    </ul>
  </nav>
</footer>